/*albumStyle Sheet*/

body {
    font-size: 10pt;
    font-family: Sans-Serif;
    color: black;
    background-color: white;
}
h1 {
    font-size: 24pt;
    font-family: sans-serif;
    color: black;
    text-align: center;
}
h2 {
    font-size: 20pt;
    font-family: sans-serif;
    color: black;
    text-align: center;
}
h3 {
    font-size: 16pt;
    font-family: Sans-Serif;
    color: black;
    text-align: center;
}
a:link {
    color: blue;
    text-decoration: none;
}
a:visited {
    color: purple;
    text-decoration: none;
}
a:hover {
    color: black;
    text-decoration: underline;
	background-color: purple;
}
a:active {
    color: red;
    text-decoration: none;
}