/*restaurantStyle Sheet*/


h1 {
    font-size: 68pt;
    font-family: 'Tangerine';
    color: #b22222;
    text-align: center;
}
h2 {
	font-size: 24pt;
    font-family: 'Modak';
    color: white;
    text-align: center;
}
#footer {
    font-size: 11pt;
    font-family: Times;
    color: #b22222;
    text-align: center;
}
#pageLink {
    font-size: 15pt;
    font-family: Times;
    text-align: center;
	color: #b22222;
}
a:link {
    color: #3cb371;
    text-decoration: none;
	font-weight: normal;
}
a:visited {
    color: #cd5c5c;
    text-decoration: none;
	font-weight: normal;
}
a:hover {
    color: #cd5c5c;
    text-decoration: underline;
	font-weight: bold;
}
a:active {
    color: #cd5c5c;
    text-decoration: none;
	font-weight: normal;
}
hr {
    width: 100%;
    border-color: green;
	border-width: 3px;
}
